
*   Computing Platforms: Set up the Workspace for Machine Learning Projects.  https://ms.pubpub.org/pub/computing
*  Machine Learning for Predictions. https://ms.pubpub.org/pub/ml-prediction
* Machine Learning Packages: https://scikit-learn.org/stable/

# Part I: Import and Inspect Data

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/Xintong1122/stats201-Prediction-Xintong/main/data/Queried_Data/queried_data.csv')
df.head()

            Date  Daily Volume
0  2022/1/1 0:00   37151.16694
1  2022/1/2 0:00   51607.71011
2  2022/1/3 0:00   50451.02149
3  2022/1/4 0:00   47528.84666
4  2022/1/5 0:00   42856.18295

# Part II: Prepare the Y varible for Regression

## 2.1. Write functions to calculte the Y variable for Regression 

*(skip the step if the Y variable already exists)*

In [5]:
df['volume'] = df['Daily Volume']
df.head()

            Date  Daily Volume       volume
0  2022/1/1 0:00   37151.16694  37151.16694
1  2022/1/2 0:00   51607.71011  51607.71011
2  2022/1/3 0:00   50451.02149  50451.02149
3  2022/1/4 0:00   47528.84666  47528.84666
4  2022/1/5 0:00   42856.18295  42856.18295

## 2.2. Make Sure that the Data Type of Y is "numeric"

In [6]:
df.dtypes

Date             object
Daily Volume    float64
volume          float64
dtype: object

In [7]:
df['volume'] = pd.to_numeric(df['volume'])
df.dtypes

Date             object
Daily Volume    float64
volume          float64
dtype: object

reference:

https://datatofish.com/if-condition-in-pandas-dataframe/ *italicized text*

# Part IV: Create the X variables

## 4.1. Shift the Y to get past values

reference:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html

In [8]:
# generate a new variable as the previous 1 observable of your Y variable for regression
df['volume_past'] =df['volume'].shift(1)
df.head()

            Date  Daily Volume       volume  volume_past
0  2022/1/1 0:00   37151.16694  37151.16694          NaN
1  2022/1/2 0:00   51607.71011  51607.71011  37151.16694
2  2022/1/3 0:00   50451.02149  50451.02149  51607.71011
3  2022/1/4 0:00   47528.84666  47528.84666  50451.02149
4  2022/1/5 0:00   42856.18295  42856.18295  47528.84666

## 4.2. Calculate the Moving Averages

references: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

https://towardsdatascience.com/moving-averages-in-python-16170e20f6c

In [9]:
#@title Define the Window
window = 10 #@param {type:"number"}

In [10]:
df['volume_past_ma10']=df['volume_past'].rolling(window=window,min_periods=1).mean()
df.head(20)

              Date  Daily Volume       volume  volume_past  volume_past_ma10
0    2022/1/1 0:00   37151.16694  37151.16694          NaN               NaN
1    2022/1/2 0:00   51607.71011  51607.71011  37151.16694      37151.166940
2    2022/1/3 0:00   50451.02149  50451.02149  51607.71011      44379.438525
3    2022/1/4 0:00   47528.84666  47528.84666  50451.02149      46403.299513
4    2022/1/5 0:00   42856.18295  42856.18295  47528.84666      46684.686300
5    2022/1/6 0:00   37157.17068  37157.17068  42856.18295      45918.985630
6    2022/1/7 0:00   41662.28142  41662.28142  37157.17068      44458.683138
7    2022/1/8 0:00   49057.71816  49057.71816  41662.28142      44059.197179
8    2022/1/9 0:00   63700.74804  63700.74804  49057.71816      44684.012301
9   2022/1/10 0:00   38814.99051  38814.99051  63700.74804      46796.982939
10  2022/1/11 0:00   38897.11810  38897.11810  38814.99051      45998.783696
11  2022/1/12 0:00   43774.94261  43774.94261  38897.11810      46173.378812
12  2022/1/13 0:00   46130.78906  46130.78906  43774.94261      45390.102062
13  2022/1/14 0:00   46903.94595  46903.94595  46130.78906      44958.078819
14  2022/1/15 0:00   52157.87905  52157.87905  46903.94595      44895.588748
15  2022/1/16 0:00   50653.90336  50653.90336  52157.87905      45825.758358
16  2022/1/17 0:00   40259.04251  40259.04251  50653.90336      47175.431626
17  2022/1/18 0:00   38873.65891  38873.65891  40259.04251      47035.107735
18  2022/1/19 0:00   49595.88571  49595.88571  38873.65891      46016.701810
19  2022/1/20 0:00   53791.18513  53791.18513  49595.88571      44606.215577

# Part V Train and Test Split

*reference*:

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

In [11]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
print(tss)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

In [12]:
# change the train and test split parameters 
tss = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=2, test_size=None)

In [13]:
for train_idx, test_idx in tss.split(df):
    print("TRAIN:", train_idx, "TEST:", test_idx)

TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122] TEST: [123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140
 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158
 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176
 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194
 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212
 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230
 231 232 233 234 235 236 237 238 239 240 241 242 243]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243] TEST: [244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279
 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297
 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315
 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333
 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351
 352 353 354 355 356 357 358 359 360 361 362 363 364]

In [14]:
train_idx

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243])

In [15]:
test_idx

array([244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256,
       257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269,
       270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282,
       283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295,
       296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308,
       309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321,
       322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334,
       335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347,
       348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360,
       361, 362, 363, 364])

In [16]:
train_df = df.filter(items=train_idx, axis=0)
test_df =  df.filter(items=test_idx, axis=0)

In [17]:
train_df.head()

            Date  Daily Volume       volume  volume_past  volume_past_ma10
0  2022/1/1 0:00   37151.16694  37151.16694          NaN               NaN
1  2022/1/2 0:00   51607.71011  51607.71011  37151.16694      37151.166940
2  2022/1/3 0:00   50451.02149  50451.02149  51607.71011      44379.438525
3  2022/1/4 0:00   47528.84666  47528.84666  50451.02149      46403.299513
4  2022/1/5 0:00   42856.18295  42856.18295  47528.84666      46684.686300

In [18]:
test_df.head()

              Date  Daily Volume       volume  volume_past  volume_past_ma10
244  2022/9/2 0:00   7444.189746  7444.189746  7552.174058       9297.899680
245  2022/9/3 0:00   6805.868558  6805.868558  7444.189746       9064.278126
246  2022/9/4 0:00   6781.525140  6781.525140  6805.868558       8883.842121
247  2022/9/5 0:00   8161.302885  8161.302885  6781.525140       8482.016224
248  2022/9/6 0:00   7482.808922  7482.808922  8161.302885       8511.305678

# Part VI Prepare the Train and Test Data for Regression

## 6.2 Regression

### 6.2.1. Define the columns (Y, X) for Regression

In [19]:
cols_R = ['volume','volume_past_ma10']

### 6.2.2. Define the Data Frame of Train and Test Data for Regression

In [20]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

### 6.2.3. Export the Train and Test Data for Regression

In [21]:
df_R_train.head()

        volume  volume_past_ma10
0  37151.16694               NaN
1  51607.71011      37151.166940
2  50451.02149      44379.438525
3  47528.84666      46403.299513
4  42856.18295      46684.686300

In [22]:
df_R_train.to_csv('Regression_Train.csv')

In [23]:
df_R_test.head()

          volume  volume_past_ma10
244  7444.189746       9297.899680
245  6805.868558       9064.278126
246  6781.525140       8883.842121
247  8161.302885       8482.016224
248  7482.808922       8511.305678

In [24]:
df_R_test.to_csv('Regression_Test.csv')